@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>

<br />

<p>Trajes Eventuales SA inició sus actividades en 1965 por lo cual ya cuenta con más de 50 años de presencia y trayectoria en el mercado.</p>
<p>Esta empresa nace de su bien conocido sastre, Don Edwin Valverde Elizondo quien desde los 19 años se dedicó entre cortes y tijeras a 
    estudiar libros de costura, hasta convertirse en todo un profesional en la labor. Seguidamente con ayuda de su esposa (Elsy Aguilar) 
    abre su primera sastrería en su casa con el nombre de Sastrería Tic-Toc, de donde años después se traslada a San José y junto con ayuda 
    de sus dos hermanas (Alba y Deisy Valverde), fundan el hoy conocida Trajes Eventuales.</p>

<div class="row">
    <div class="col-md-4">
        <img src="~/Imagenes/acerca1.jpg" alt="" width="350" />
    </div>
    <div class="col-md-4">
        <img src="~/Imagenes/acerca2.jpg" alt="" width="350" />
    </div>
    <div class="col-md-4">
        <img src="~/Imagenes/acerca3.jpg" alt="" width="350" />
    </div>
</div>
