@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<br />

<div class="row">
    <div class="col-md-4">
        <img src="~/Imagenes/direccion.png" alt="" />
        <h2>Dirección</h2>
        <p>
            Costa Rica, San José Centro
            75 Norte del Diario Extra
            Entre Calle 4 y Avenida 2
            Tercer piso de la confitería la Española
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/Imagenes/telefono.png" alt="" />
        <h2>Telefonos</h2>
        <p>(506) 2256-0375</p>
        <p>(506) 8422-0052</p>
    </div>
    <div class="col-md-4">
        <img src="~/Imagenes/horario.png" alt="" />
        <h2>Horario</h2>
        <p>De Lunes a Viernes de 8:30AM a 6:00PM</p>
        <p>Sabados 9:00AM a 2:00PM</p>
    </div>
</div>

<div>
    <h2>Mapa</h2>
    <img src="~/Imagenes/mapa.png" alt="" />
</div>

<br />

<address>
    <strong>Pagina web:</strong>   <a href="https://www.trajeseventuales.com/">www.trajeseventuales.com</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/trajesalquiler/">www.facebook.com/trajesalquiler/</a>
</address>