@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <div>
        <img src="~/Imagenes/logo.jpg" alt="" width="500" />
    </div>
    <div>
        <h1>Trajes Eventuales</h1>
        <p class="lead">Alquiler, confección y reparación de Trajes y Vestidos</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alquiler</h2>
        <p>
            Alquiler de trajes para bebé, niño y adulto todas las tallas.
            Alquiler de vestidos para novia.
        </p>
        <img src="~/Imagenes/alquiler.jpg" alt="" width="350" />
    </div>
    <div class="col-md-4">
        <h2>Confección</h2>
        <p>Confección de trajes y vestidos de excelente calidad confeccionados por sastres profesionales.</p>
        <img src="~/Imagenes/confeccion.jpg" alt="" width="350" />
    </div>
    <div class="col-md-4">
        <h2>Reparación</h2>
        <p>Reparaciones de todo tipo de prendas en manos de expertos. </p>
        <img src="~/Imagenes/reparacion.jpg" alt="" width="350" />
    </div>
</div>

<div>
    <br />
    <p><a href="https://www.facebook.com/trajesalquiler/" class="btn btn-primary btn-lg">FaceBook &raquo;</a></p>
</div>